@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
/**  Basic Page CSS **/
body {
  font-weight: 400;
  font-size: 2em;
  position: relative;
  font-size: 16px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0; }

/**  Header Navigation **/
header {
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3); }
  header .navbar {
    background-color: #555;
    margin-bottom: 0;
    flex-grow: 0;
    margin: 0 30px;
    display: flex;
    align-content: center;
    flex-direction: row;
    background-color: inherit;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(50, 50, 50, 0.15); }
  header .navbar-brand {
    padding: 0;
    height: 100%;
    color: #47525E;
    margin: 0;
    font-size: 1.75em;
    font-weight: 600; }

.main {
  background: #335566;
  /*#596B7F*/
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
  /** Navigation Pane **/
  /* navigation-pane */ }
  .main aside {
    background-color: #D6DCE9;
    padding: 1em 1.5rem;
    z-index: 1; }
  .main #navigation-pane {
    /* search-bar */ }
    .main #navigation-pane #search-bar-icon {
      left: 30px;
      height: 40px;
      display: inline;
      position: absolute;
      color: #75758B; }
      .main #navigation-pane #search-bar-icon i {
        vertical-align: -8px; }
    .main #navigation-pane #search-bar {
      border-radius: 20px;
      padding: 1em 0.5em 1em 35px;
      width: 100%;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: inline-block;
      /* Make placeholder text disappear on focus */
      /* FF 4-18 */
      /* FF 19+ */
      /* IE 10+ */ }
      .main #navigation-pane #search-bar:focus {
        outline: none;
        border: 2px solid #2C97CF; }
      .main #navigation-pane #search-bar::placeholder {
        font-weight: bold; }
      .main #navigation-pane #search-bar:focus::-webkit-input-placeholder {
        color: transparent; }
      .main #navigation-pane #search-bar:focus:-moz-placeholder {
        color: transparent; }
      .main #navigation-pane #search-bar:focus::-moz-placeholder {
        color: transparent; }
      .main #navigation-pane #search-bar:focus:-ms-input-placeholder {
        color: transparent; }

#navigation-pane ul {
  margin-top: 0.5em;
  padding-left: 20px;
  list-style-type: circle; }

#navigation-pane ul li:not(:first-child) {
  margin-top: 0.5em; }

#view-pane {
  flex-grow: 1;
  box-shadow: inset 0 0px 5px 3px rgba(0, 0, 0, 0.15); }

#details-pane {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  max-width: 290px; }

#details-list {
  margin-top: 1em; }

#details-list tr:first-child {
  border-bottom: 1px solid #94989F; }

#details-list tr:not(:first-child) {
  padding: 0.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

#details-list tr:not(:first-child) td {
  padding: 0.4em 0; }

#details-list tr:not(:first-child) td:last-child {
  padding-left: 0.6em; }

#details-pane .comments-wrapper {
  margin-top: auto; }

#details-pane .comments-wrapper textarea {
  width: 100%;
  border-radius: 10px;
  padding: 5px; }

/**  Interface Styles **/
.apt-addheading {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 10px 5%;
  font-size: 1rem; }

.item-list .pet-item {
  border-bottom: 1px dotted gray;
  padding-bottom: 10px; }

.item-list .pet-item:last-child {
  border-bottom: none; }

.item-list .pet-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%; }

.item-list .pet-info {
  font-size: 1.7em; }

.item-list .label-item {
  font-weight: 600;
  color: #667B82; }

.item-list .pet-delete {
  font-size: 1.2em; }

.item-list .apt-date {
  font-style: italic; }
