@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

$aside-bg: #D6DCE9;
$link: #47525E;
$link-hover: #30a4dd;
$header-bg: #F7F7F7;
$scrollbar: #81bde2;
$search-bar-outline: #9ec5e5;
$text: #47525E;

/**  Basic Page CSS **/
body {
  font-weight: 400;
  font-size: 2em;
  position: relative;
  font-size: 16px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  overflow: hidden;
}

#main-interface {
    height: 100vh;
    width: 100vw;

    & > * {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        height: 100vh;
        max-height: 100vh;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

.details-icon {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 2px solid $text;
}

ul {
    padding-left: 20px;
}

.layer {
    box-shadow: 0 0 7px 0px rgba(0,0,0,0.3);
}

.rst__row:hover {
    cursor: pointer;
}

.rst__rowLabel {
    padding-right: 0;
}
.rst__rowContents {
    padding: 0 10px;
}

.rst__rowTitleWithSubtitle {
    height: 1rem;
}

.rst__rowSubtitle {
    font-size: 60%;
}

/**  Header Navigation **/
header {
    background-color: $header-bg;
    z-index: 1000;

    .navbar {
        margin-bottom: 0;
        flex-grow: 0;
        margin: 0 30px;
        display: flex;
        flex-direction: row;
        border: none;
        border-radius: 0;
        padding: 10px 0;

        .toolbar {
            margin-left: auto;
            height: 100%;
            font-size: 1.75em;

            * {
                display: inline-block;
            }

            .action-button {
                margin: 0 0.25em;
                width: 1.5em;
                color: $header-bg;
                background-color: $text;
                border-radius: 10px;
                text-align: center;
                font-size: 1em;
                box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);

                .fa-users {
                    font-size: 0.9em;
                }

                &:hover {
                    background: $link-hover;
                    cursor: pointer;
                }
            }
        }
    }
    .navbar-brand {
        padding: 0;
        height: 100%;
        color: $text;
        margin: auto 0;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;

  /** Navigation Pane **/
  aside {
      background-color: $aside-bg;
      padding: 1em 1.5rem;
      z-index: 500;
  }

    #navigation-pane {

        width: 24.5em;
        max-width: 24.5em;
        overflow: auto;

        a {
            color: #0275d8;
        }

        #search-bar-wrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.7em;

            #search-bar-icon {
              left: 30px;
              height: 40px;
              background: white;
              color: #75758B;
              padding-left: 1em;
              border-top: 1px solid rgba(0,0,0,0.15);
              border-left: 1px solid rgba(0,0,0,0.15);
              border-bottom: 1px solid rgba(0,0,0,0.15);
              border-radius: 20px 0 0 20px;

              i { vertical-align: -8px; }
            }

            #search-bar {
                border-radius: 0 20px 20px 0;
                padding: 1em 0.5em 1em 0.5em;
                width: 100%;
                height: 40px;
                border-left: none;
                border-top: 1px solid rgba(0,0,0,0.15);
                border-right: 1px solid rgba(0,0,0,0.15);
                border-bottom: 1px solid rgba(0,0,0,0.15);

                &:focus {
                    outline: none;
                }

                &::placeholder { font-weight: bold; }
                /* Make placeholder text disappear on focus */
                &:focus::-webkit-input-placeholder { color: transparent; }
                &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
                &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
                &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
            } /* search-bar */
        } /* search-bar-wrapper */

        & > ul { /* List of types */
            margin-top: 1em;
            list-style-type: circle;

            & ul { /* Type-specific lists */
                list-style-type: disc;
            }
            li {
                margin-top: 0.5em;
            }
        }

        div.rst__tree {
            width: auto;
            height: auto;
        }

        &::-webkit-scrollbar-track
        {
        	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        	border-radius: 10px;
        	background-color: $header-bg;
        }
        &::-webkit-scrollbar
        {
        	width: 0.7em;
            height: 0.7em;
        	background-color: $header-bg;
        }
        &::-webkit-scrollbar-thumb
        {
        	border-radius: 10px;
        	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        	background-color: $scrollbar;
        }
    } /* navigation-pane */

    #view-pane {
        background-color: #335566; /*#596B7F*/
        background-image: url('../images/NASA_logo.png');
        background-position: center;
        background-repeat: no-repeat;
        flex-grow: 1;
        box-shadow: inset 0 0px 5px 3px rgba(0,0,0,0.15);

        & > * {
            width: 100%;
            height: 100%;
        }
    }

    #details-pane {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        max-width: 290px;

        #details-list {
            margin-top: 1em;
            width: 100%;

            thead > tr {
                border-bottom: 2px solid #94989F;
            }

            tr {
                padding: 0.3em;
                border-bottom: 1px solid rgba(0,0,0, 0.05);
                vertical-align: top;

                td {
                    padding: 0.4em 0;
                    font-weight: bold;

                    &:last-child {
                        padding-left: 0.6em;
                        font-weight: normal;
                    }
                }
            }
        } /* details-list */

        .comments-wrapper {
            margin-top: auto;

            textarea {
                width: 100%;
                border-radius: 10px;
                padding: 0.5em;
                resize: none;

                &:focus {
                    outline: none;
                    border: 2px solid #9ec5e5;

                    &::placeholder { font-weight: bold; }
                    /* Make placeholder text disappear on focus */
                    &::-webkit-input-placeholder { color: transparent; }
                    &:-moz-placeholder { color:transparent; } /* FF 4-18 */
                    &:-moz-placeholder { color:transparent; } /* FF 19+ */
                    &:-ms-input-placeholder { color:transparent; } /* IE 10+ */
                }
            }
        } /* .comments-wrapper */
    } /* #details-pane */
} /* .main */
